<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAIQEk0RM0OMzoBddTYD5qA76hlsKmF7nk</string>
	<key>GCM_SENDER_ID</key>
	<string>316858812071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tuananh.subject.TrackingApp</string>
	<key>PROJECT_ID</key>
	<string>trackingapp-2b2db</string>
	<key>STORAGE_BUCKET</key>
	<string>trackingapp-2b2db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316858812071:ios:01f1a2a9a43c074a2e3d82</string>
</dict>
</plist>